<main class="flex w-full board" data-controller="board">
  <section data-controller="column m-4 p-4 max-w-80">
  <div class="flex justify-between"><h3>待辦事項</h3></div>
  <div class="ticket-list">
    <button>新增任務</button>
    <div class="p-2 border rounded-md ticket" data-controller="task">
      <div class="p-2">任務名稱</div>
      <div class="p-2">優先度</div>
      <div class="p-2">指派人＆日期 </div>
    </div>
  </div>
  </section>
</main>
